snippet . ".class {}" bA
.$1 {
	$0
}
endsnippet

snippet var "var(--)" A
var(--$1)$0
endsnippet

snippet bgc "background-color: ;" bA
background-color: $1;$0
endsnippet

snippet bdc "border-color: ;" bA
border-color: $1;$0
endsnippet
