#〖愛〗vimwiki snippets

# Custom headings
snippet h1 "Heading" bA
------------------------------------------------------------
`!p snip.rv = ' ' * int((60 - (len(t[1]) + 4)) / 2)`= $1 =
------------------------------------------------------------
$0

endsnippet

snippet h2 "Heading" bA
------------------------------------------------------------
`!p snip.rv = ' ' * int((60 - (len(t[1]) + 6)) / 2)`== $1 ==
------------------------------------------------------------
$0

endsnippet

snippet h3 "Heading" bA
------------------------------------------------------------
`!p snip.rv = ' ' * int((60 - (len(t[1]) + 8)) / 2)`=== $1 ===
------------------------------------------------------------
$0

endsnippet
