**.example
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/config/goodls.zsh
zsh/.config/zsh/config/shortcuts.zsh
vifm/.config/vifm/vifminfo
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/config/shortcuts.vifm
