snippet today "Date"
`date +%F`
endsnippet

# Email
snippet to "Signature" bA
To Whom It May Concern:

$0

Yours sincerely,
Herbert Magaya
endsnippet

snippet dear "Signature" bA
Dear $1,

$0

Yours sincerely,
Herbert Magaya
endsnippet

snippet sign "Signature" bA
Yours sincerely,
Herbert Magaya
endsnippet

# pairs
snippet ` "" iA
\`$1\`$0
endsnippet
snippet [ "" iA
[$1]$0
endsnippet
snippet ( "" iA
($1)$0
endsnippet
snippet { "" iA
{$1}$0
endsnippet
