/* `rofi` theme config. */

* {
	font: "Hack 10";
    background-color: Black;
    text-color:     White;
}


window {
    width: 34%;
    transparency: "real";
    padding: 1%;
}

inputbar {
    padding: 10px 0px;
}

entry {
    padding: 0px 5px;
}

element selected {
    background-color:   Red;
    text-color:         White;
}
/* vi:syntax=css:
