#!/bin/sh

#〖愛〗Xprofile configuration file.

# This script is executed at the beginning of the X user 
# session--before the window manager is started. Start 
# daemons and run commands/scripts here.

# xrandr --setprovideroutputsource modesetting NVIDIA-0
# xrandr --auto
# xrandr --dpi 96

/usr/bin/prime-offload

# Daemons and other.
syncthing & # start syncthing
dunst &															# notifications with 'dunst'
picom -b --experimental-backends &	# window compositor
transmission-daemon -er &						# start torrent daemon
unclutter &													# hide mouse when not needed
mpd &                   						# music player daemon
clipster --daemon &									# clipboard manager
mpd_trigger localhost -p 6600 -e "pkill -RTMIN+17 dwmblocks" &
# TODO: update to ignore hidden folders for mail and syncthing
#cleanempty &												# remove empty directories and files
genpreviews "$HOME" &
rm -rf /media/$(whoami)/archive/* &		# cleanup dir

# Input method
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export XMODIFIER="@im=fcitx"
# Remap certain keys
(fcitx; sleep 3 && remapkeys) & 

# Set wallpaper
setwallpaper &

# For some reason I can't get udev rules to work, compromise
(doas chmod g+rw /dev/fuse
doas chgrp fuse /dev/fuse) &

# Needed for st to work properly
xrdb -load ${XDG_CONFIG_HOME:-$HOME/.config}/X11/xresources

